/*/////Localisation///////*/

.location {
    display: flex;
    justify-content: center;
    background-color: $color-4;
    padding: 15px 0 15px 0;

    &__searchInput {
        background-color: $color-4;
        border: none;
        font-size: 18px;
    }
}

.fa-location-dot {
    margin-right: 10px;
    margin-left: 50px;
    font-size: 18px;
}

input {
    border: none;
    outline: none;

    &::placeholder {
        color: black;
        font-weight: 400;
    }
}





/*//////Description/////*/

.description {
    background-color: $color-5;
    text-align: center;
    padding: 20px 8px 50px 8px;

    &__details {
        font-weight: 200;
        padding: 1px 0 30px 0;
    }
}

/*//////Fonctionnement//////*/

.container {
    margin-bottom: 60px;
    margin-top: 50px;
}

.process__list {
    display: flex;
    position: relative;
    background-color: $color-5;
    padding: 25px 20px;
    @include button-shadow;
    border-radius: 18px;
    margin: 25px 25px 25px 40px;
    &:hover {
        @include button-shadow-hover;
        background-color: $color-7;
        .process--fas {
            color: $color-primary;
        }
    }
}
.number{
    color: $color-6;
    background-color: $color-primary;
    height: 25px;
    width: 25px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    left: -0.8rem;
    }


.process--fas {
    padding: 0 14px;
    color: grey;
    font-size: 20px;
}


.choice {
    font-weight: 400;
    font-size: 20px;
}
@media screen and (min-width: 1024px){
    .process{
        display: flex;
        max-width: 1020px;
        margin-left: auto;
        margin-right: auto;
    }
    .process__list{
        flex: 1;
        margin: 10px 10px;
        justify-content: flex-start;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 1020px;
    }
}


@media screen and (min-width: 1300px){
    .process{
        max-width: 1250px;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
        max-width: 1300px;
    }

}

