

/*////////en-tête//////*/
.header{
    text-align: center;
    padding: 16px;
    @include header-shadow;
    position: relative;
    z-index: 1000;
    &__logo img{
        width: 166px;
        height: 30px;
    }
}

