/*//////Loader//////*/

.loader{
    background-color: $color-5;
    position: fixed;
    top: 50%;
    left: 40%;
    margin: 10%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 10000;
    animation: loader 1s 3s forwards;
}
.dot{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: #3ac;
    display: inline-block;
    animation: slide  1s infinite;
}
.dot:nth-child(1){
    animation-delay: 0.1s;
    background: $color-9;
}
.dot:nth-child(2){
    animation-delay: 0.2s;
    background: $color-8;
}
.dot:nth-child(3){
    animation-delay: 0.3s;
    background: $color-tertiary;
}
.dot:nth-child(4){
    animation-delay: 0.4s;
    background: $color-secondary;
}
.dot:nth-child(5){
    animation-delay: 0.5s;
    background: $color-primary;
}



@keyframes slide{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes loader{
    from{
    opacity: 100%;
    }
    to{
        opacity: 0%;
        visibility: hidden;
    }
}


/*//////Animation menu//////*/

.dish__confirmation{
    opacity: 0;
    margin: -2.7rem -1.3rem -0.63rem 0;
    width: 0;
    height: auto;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: $color-tertiary;
    border-radius: 0 18px 18px 0;
    transition-duration: 500ms;
}

.dish__check {
    height: 26px;
    width: 26px;
    font-size: 20px;
    color: $color-tertiary;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.4s;
  }
