/*///////Restaurants///////*/
.container_restaurant{
    background-color: $color-5;
}

.restaurant{
    display: flex;
    flex-wrap: wrap;
    .restaurant__card{
        flex: 1 1 350px;
        margin: 15px 15px;
        background-color: $color-6;
        border-radius: 15px;
        @include button-shadow;
        &:hover{
            @include button-shadow-hover;
        }
    }
}

.restaurant__card > img{
    object-fit: cover;
    width: 100%;
    height: 180px;
    border-radius: 15px 15px 0 0;
}