.container_footer{
    background-color: $color-9;
    padding: 20px 20px 25px 20px;
    .title_logo{
        color: $color-6;
        font-family: 'Shrikhand', sans-serif;
    }
    .list_footer{
        line-height: 1.6;
    }
    .list_details > a{
        color: $color-6;
    }
}


