.location{
    display: flex;
    justify-content: center;
    background-color: $color-4;
    padding: 15px 0 15px 0;
    &__searchInput{
        background-color: $color-4;
        border: none;
        font-size: 18px;
    }
}



input{
    border: none;
    outline: none;
}

.fa-location-dot{
    margin-right: 10px;
    margin-left: 50px;
    font-size: 18px;
}

::placeholder{
    color: black;
    font-weight: 400;
}

.description{
    text-align: center;
    padding: 32px;
    &__details{
        font-weight: 200;
    }
}