/*///////Header menu/////*/
.button__return {
    font-size: 25px;
    position: absolute;
}

/*//////Image menu///////*/
.menu__img {
    margin: 0;
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

/*//////Menu///////*/
.menu {
    position: relative;
    z-index: 1;
    background-color: $color-5;
    margin-top: -80px;
    border-radius: 45px 45px 0 0;
    padding-top: 20px;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;

    .menu__details {
        margin-bottom: 55px;
    }

    .container__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title__heart {
            padding-right: 30px;
        }
    }

    .container__dish {
        display: flex;
        background-color: $color-6;
        padding: 10px 20px;
        @include button-shadow;
        border-radius: 18px;
        margin: 25px 15px 25px 15px;

        &:hover {
            @include button-shadow-hover;
        }

        &:hover .dish__check {
            transform: rotate(0);
        }

        &:hover .dish__confirmation {
            opacity: 100%;
            width: 70px;
        }
    }

    .dish {
        flex: 1;
        display: flex;
        justify-content: space-between;
        white-space: nowrap;
        text-overflow: ellipsis;

        &__price {
            display: flex;
            align-items: flex-end;
        }
    }
}



.menu__dish,
.menu__title {
    margin-left: 25px;
}

.menu__dish {
    border-bottom: 4px solid $color-tertiary;
    width: 58px;
    padding-bottom: 8px;
}

.dish__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dish__details {
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}




.container__button {
    text-align: center;
    padding: 10px 0 70px 0;
}

.order__button {
    text-align: center;
    padding: 18px 55px;
}


@media screen and (min-width: 1300px) {
    .container__menu {
        display: flex;
        justify-content: space-between;
    }

    .menu__details {
        width: 420px;
    }
}