/*///////Header menu/////*/
.button__return {
    font-size: 25px;
    position: absolute;
}

/*//////Image menu///////*/
.menu__img {
    display: flex;
    margin: 0;
    max-width: 100%;
    max-height: 1000px;
    object-fit: cover;
}

/*//////Menu///////*/
.menu {
    position: relative;
    z-index: 1;
    background-color: $color-5;
    margin-top: -80px;
    border-radius: 45px 45px 0 0;
    padding-top: 20px;

    .container__title {
        display: flex;
        align-items: center;
        .title__heart{
            padding-left: 40px;
        }
    }

    .dish {
        background-color: $color-6;
        padding: 30px 20px;
        @include button-shadow;
        border-radius: 18px;
        margin: 25px 15px 25px 15px;

        &:hover {
            @include button-shadow-hover;
        }
    }
}

.menu__dish, .menu__title{
    margin-left: 25px;
}

.menu__dish{
    border-bottom: 4px solid $color-tertiary;
    width: 58px;
    padding-bottom: 8px;
}