/*///////Header menu/////*/
.button__return {
    font-size: 25px;
    position: absolute;
}

/*//////Image menu///////*/
.menu__img {
    margin: 0;
    max-height: 600px;
    width: 100%;
    object-fit: cover;
}

/*//////Menu///////*/
.menu {
    position: relative;
    z-index: 1;
    background-color: $color-5;
    margin-top: -80px;
    border-radius: 45px 45px 0 0;
    padding-top: 20px;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;

    .menu__details{
        margin-bottom: 55px;
    }

    .container__title {
        display: flex;
        align-items: center;
        .title__heart{
            padding-left: 40px;
        }
    }

    .dish {
        background-color: $color-6;
        padding: 10px 20px;
        @include button-shadow;
        border-radius: 18px;
        margin: 25px 15px 25px 15px;

        &:hover {
            @include button-shadow-hover;
        }
        &:hover .dish__check{
            transform: rotate(0);
        }
        &:hover .dish__confirmation{
            opacity: 100%;
            width: 70px;
        }
        &__price{
            display: flex;
            align-items: flex-end;
        }
    }
}


.dish__confirmation{
    opacity: 0;
    margin: -2.7rem -1.3rem -0.63rem 0;
    width: 0;
    height: auto;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: $color-tertiary;
    border-radius: 0 18px 18px 0;
    transition-duration: 500ms;
}

.dish__check {
    height: 26px;
    width: 26px;
    font-size: 20px;
    color: $color-tertiary;
    background-color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.4s;
  }
.menu__dish, .menu__title{
    margin-left: 25px;
}

.menu__dish{
    border-bottom: 4px solid $color-tertiary;
    width: 58px;
    padding-bottom: 8px;
}

.dish__name{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
}

.dish__details{
    display: flex;
    text-overflow: ellipsis;
    justify-content: space-between;
}




.container__button{
    text-align: center;
    padding: 10px 0 70px 0;
}
.order__button{
    text-align: center;
    padding: 18px 55px;
}


@media screen and (min-width: 1300px){
    .container__menu{
        display: flex;
        justify-content: space-between;
    }
    .menu__details{
        width: 420px;
    }
}
