body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    scroll-behavior: smooth;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.title{
    margin-left: 20px;
    font-weight: 500;
}



