body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    scroll-behavior: smooth;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h3{
    color: black;
    font-weight: 500;
}
.title{
    margin-left: 20px;
    font-weight: 500;
}



a{
    text-decoration: none;
    color: black;

    &:visited{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
}

.menu__title{
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
}

.menu__dish{
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 300;
}