@charset "UTF-8";
.box {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

body {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  scroll-behavior: smooth;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h3 {
  color: black;
  font-weight: 500;
}

.title {
  margin-left: 20px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

.menu__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}

.menu__dish {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 300;
}

.dish__price {
  font-weight: 600;
}

/*////////en-tête//////*/
.header {
  text-align: center;
  padding: 16px;
  /*Ombre de l'en-tête*/
  box-shadow: 1px 3px rgba(171, 167, 167, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  z-index: 1;
}
.header__logo img {
  width: 166px;
  height: 30px;
}

/*/////Localisation///////*/
.location {
  display: flex;
  justify-content: center;
  background-color: #e9e9e9;
  padding: 15px 0 15px 0;
}
.location__searchInput {
  background-color: #e9e9e9;
  border: none;
  font-size: 18px;
}

.fa-location-dot {
  margin-right: 10px;
  margin-left: 50px;
  font-size: 18px;
}

input {
  border: none;
  outline: none;
}
input::placeholder {
  color: black;
  font-weight: 400;
}

/*//////Description/////*/
.description {
  background-color: #f7f5f5;
  text-align: center;
  padding: 20px 8px 50px 8px;
}
.description__details {
  font-weight: 200;
  padding: 1px 0 30px 0;
}

/*//////Fonctionnement//////*/
.container {
  margin-bottom: 60px;
  margin-top: 50px;
}

.process__list {
  display: flex;
  position: relative;
  background-color: #f7f5f5;
  padding: 25px 20px;
  /*Ombre des boutons*/
  box-shadow: 2px 3px rgba(171, 167, 167, 0.12), 0 10px 20px rgba(0, 0, 0, 0.24);
  border-radius: 18px;
  margin: 25px 25px 25px 40px;
}
.process__list:hover {
  /*Ombre accentuée des boutons et des cartes de restaurant*/
  transition-duration: 0.25s;
  box-shadow: 0 20px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  cursor: default;
  background-color: #F5EDFF;
}
.process__list:hover .process--fas {
  color: #9356dc;
}

.number {
  color: #fff;
  background-color: #9356dc;
  height: 25px;
  width: 25px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  left: -0.8rem;
}

.process--fas {
  padding: 0 14px;
  color: grey;
  font-size: 20px;
}

.choice {
  font-weight: 400;
  font-size: 20px;
}

@media screen and (min-width: 1024px) {
  .process {
    display: flex;
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
  }

  .process__list {
    flex: 1;
    margin: 10px 10px;
    justify-content: flex-start;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
  }
}
@media screen and (min-width: 1300px) {
  .process {
    max-width: 1250px;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
  }
}
/*///////Restaurants///////*/
#container_restaurant {
  background-color: #f7f5f5;
  padding: 40px 0 40px 0;
}

.restaurant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.restaurant .restaurant__card {
  flex: 1 1 350px;
  margin: 15px 15px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  /*Ombre des boutons*/
  box-shadow: 2px 3px rgba(171, 167, 167, 0.12), 0 10px 20px rgba(0, 0, 0, 0.24);
}
.restaurant .restaurant__card:hover {
  /*Ombre accentuée des boutons et des cartes de restaurant*/
  transition-duration: 0.25s;
  box-shadow: 0 20px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}

.restaurant__card > img {
  display: flex;
  object-fit: cover;
  object-position: 50% 70%;
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
}

.badge_new {
  background-color: #99e2d0;
  color: #1B6150;
  padding: 8px;
  border-radius: 2px;
  font-weight: 400;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.details__restaurant {
  display: flex;
  align-items: center;
  padding: 12px;
}

.fa-heart {
  font-size: 30px;
}
.fa-heart:hover {
  /*Animation du coeur*/
  cursor: pointer;
  background: linear-gradient(to bottom left, #ff79da, #9356dc);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  transition: all 500ms ease-in-out;
}

.name__restaurant {
  flex: 1;
}

.name__restaurant > h3, p {
  margin: 3px 0 0 0;
}

@media screen and (min-width: 1024px) {
  .container_restaurant {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1139px) {
  .restaurant__card {
    min-width: 539px;
  }
}
/*//////Loader//////*/
.loader {
  background: #f7f5f5;
  position: absolute;
  top: 50%;
  left: 40%;
  margin: 10%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
  animation: loader 4.8s forwards;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.dot {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  animation: slide 1s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0.1s;
  background: #9356dc;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
  background: #ff79da;
}

.dot:nth-child(3) {
  animation-delay: 0.3s;
  background: #99e2d0;
}

.dot:nth-child(4) {
  animation-delay: 0.4s;
  background: #1B6150;
}

.dot:nth-child(5) {
  animation-delay: 0.5s;
  background: #353535;
}

@keyframes slide {
  /*Animation des points du loader*/
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
.accueil {
  /*Animation pour faire apparaitre la page d'accueil*/
  animation: main 3.8s forwards cubic-bezier(1, -0.25, 0.91, 0.61);
}

@keyframes main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*//////Animation menu//////*/
.container__dish {
  animation: gradual 1s forwards;
  opacity: 0;
  /*Apparition progressive des plats*/
  /*Apparition progressive des plats*/
  /*Apparition progressive des plats*/
  /*Apparition progressive des plats*/
  /*Apparition progressive des plats*/
}
.container__dish:nth-child(1) {
  animation-delay: calc(1s / 5);
}
.container__dish:nth-child(2) {
  animation-delay: calc(2s / 5);
}
.container__dish:nth-child(3) {
  animation-delay: calc(3s / 5);
}
.container__dish:nth-child(4) {
  animation-delay: calc(4s / 5);
}
.container__dish:nth-child(5) {
  animation-delay: calc(5s / 5);
}

@keyframes gradual {
  from {
    transform: translateY(20px);
    opacity: 0%;
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}
.dish__confirmation {
  /*Contenant coulissant de la coche*/
  opacity: 0;
  margin: -0.62rem -1.5rem -0.63rem 1rem;
  width: 0;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  border-radius: 0 18px 18px 0;
  transition-duration: 500ms;
}

.dish__check {
  /*Coche rotative*/
  height: 26px;
  width: 26px;
  font-size: 20px;
  color: #99e2d0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 700ms;
}

.button {
  color: #fff;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  border-radius: 30px;
  border: none;
  padding: 13px 25px;
  /*Ombre des boutons*/
  box-shadow: 2px 3px rgba(171, 167, 167, 0.12), 0 10px 20px rgba(0, 0, 0, 0.24);
}
.button:hover {
  /*Ombre accentuée des boutons et des cartes de restaurant*/
  transition-duration: 0.25s;
  box-shadow: 0 20px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  filter: brightness(1.1);
}

/*///////Header menu/////*/
.button__return {
  font-size: 25px;
  position: absolute;
}

/*//////Image menu///////*/
.menu__img {
  margin: 0;
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}

/*//////Menu///////*/
.menu {
  position: relative;
  z-index: 1;
  background-color: #f7f5f5;
  margin-top: -80px;
  border-radius: 45px 45px 0 0;
  padding-top: 20px;
  max-width: 1350px;
  margin-left: auto;
  margin-right: auto;
}
.menu .menu__details {
  margin-bottom: 55px;
}
.menu .container__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .container__title .title__heart {
  padding-right: 30px;
}
.menu .container__dish {
  display: flex;
  background-color: #fff;
  padding: 10px 20px;
  /*Ombre des boutons*/
  box-shadow: 2px 3px rgba(171, 167, 167, 0.12), 0 10px 20px rgba(0, 0, 0, 0.24);
  border-radius: 18px;
  margin: 25px 15px 25px 15px;
}
.menu .container__dish:hover {
  /*Ombre accentuée des boutons et des cartes de restaurant*/
  transition-duration: 0.25s;
  box-shadow: 0 20px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
}
.menu .container__dish:hover .dish__check {
  transform: rotate(0);
}
.menu .container__dish:hover .dish__confirmation {
  opacity: 100%;
  width: 70px;
}
.menu .dish {
  flex: 1;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu .dish__price {
  display: flex;
  align-items: flex-end;
}

.menu__dish,
.menu__title {
  margin-left: 25px;
}

.menu__dish {
  border-bottom: 4px solid #99e2d0;
  width: 58px;
  padding-bottom: 8px;
}

.dish__name {
  font-weight: 400;
  font-size: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dish__details {
  line-height: 1.6rem;
  justify-content: space-between;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dish__more {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container__button {
  text-align: center;
  padding: 10px 0 70px 0;
}

.order__button {
  text-align: center;
  padding: 18px 55px;
}

@media screen and (min-width: 1300px) {
  .container__menu {
    display: flex;
    justify-content: space-between;
  }

  .menu__details {
    width: 420px;
  }
}
/*/////Pied de page/////*/
.footer {
  background-color: #353535;
}
.footer .container_footer {
  padding: 20px 20px 25px 20px;
}
.footer .container_footer .title_logo {
  color: #fff;
  font-family: "Shrikhand", sans-serif;
}
.footer .container_footer .list_footer {
  line-height: 1.6;
}
.footer .container_footer .list_details > a {
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .container_footer {
    max-width: 1300px;
    margin: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
